<!-- Main navigation container -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ media_file.file.url }}" style=" height: 50px" alt="คณะสังคมศาสตร์" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        เกี่ยวกับคณะ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">ประวัติความเป็นมา</a></li>
                        <li><a class="dropdown-item" href="#">ปรัชญา วิสัยทัศน์ พันธกิจ</a></li>
                        <li><a class="dropdown-item" href="#">โครงสร้างองค์กร</a></li>
                        <li><a class="dropdown-item" href="#">วิดีโอแนะนำคณะ</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        บุคลากร
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">กรรมการบริหาร</a></li>
                        <li><a class="dropdown-item" href="#">สายวิชาการ</a></li>
                        <li><a class="dropdown-item" href="#">สายสนับสนุน</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        หลักสูตร
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">ระดับปริญญาตรี</a></li>
                        <li><a class="dropdown-item" href="#">ระดับปริญญาโท</a></li>
                        <li><a class="dropdown-item" href="#">ระดับปริญญาเอก</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">บริการวิชาการ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">กิจการนักศึกษา</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ศิลปะและวัฒนธรรม</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">งานวิจัย</a>
                </li>
            </ul>
        </div>
    </div>
</nav>