<section>
  <!-- Carousel wrapper -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">


    <div class="carousel-inner">

      <!-- Loop to fetch the latest 5 posts, ordered by date in descending order -->
      <!-- Each carousel item -->
      <!-- Adds the 'active' class to the first item using the {If first} condition -->
      {% for slide in slides %}
      <div class="carousel-item {% if forloop.first %} active {% endif %}">
        {% if slide.link %}
        <a href="{{ slide.link }}" target="_blank">
          <!-- ทำให้ภาพสไลด์คลิกได้ -->
          <img src="{{ slide.image.url }}" class="d-block w-100 object-fit-cover" style="height:75vh" alt="{{ slide.title }}" />
        </a>
        {% else %}
        <img src="{{ slide.image.url }}" class="d-block w-100 object-fit-cover" style="height:75vh" alt="{{ slide.title }}" />
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <!-- Carousel controls: Previous button -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <!-- Carousel controls: Next button -->
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
